################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C#/Test01/.vs/Test01/v16/Server/sqlite3
/C#/Test01/.vs/Test01
*.dll
*.pdb
*.exe
/C#/Test01/obj
/C#/Test01/bin/Debug/netcoreapp3.0
/C#/Test01/Test01.Data/Test01.Data/bin/Debug/netstandard2.0
/C#/Test01/Test01.Data/Test01.Data/obj/Debug/netstandard2.0
/C#/Test01/Test01.Web/bin/Debug/netcoreapp3.0/Properties
/C#/Test01/Test01.Web/bin/Debug/netcoreapp3.0
/C#/Test01/Test01.Web/obj
/C#/Test01/Test01.Data/Test01.Data/obj
/C#/Test01/Test01.Service/obj
/C#/Test01/Test01.Data/bin/Debug
/C#/Test01/Test01.Data/obj
/C#/Test01/Test01.Service/bin/Debug
/C#/Test01/Test01.Web/bin/Debug/netcoreapp2.2
